@using Microsoft.AspNetCore.Http;
@model SchoolProgramme.Models.MstUser

@{
    Layout = "";
}

<script src="~/js/jquery-2.1.4.min.js"></script>

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
<style>
    .btn-orang {
        color: #fff;
        background-color: #f39c12;
        border-color: #f39c12;
    }

    .card {
        box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
        margin-bottom: 1rem;
    }
</style>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <form asp-action="PasswordChangeForcely">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="page-title-box">
                                    <h5 class="page-title text-primary">
                                        Change Password
                                    </h5>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-xl-12 col-lg-12">
                                <div class="row mr-1 ml-1 alert alert-danger" role="alert">
                                    <div class="col-sm-6">
                                        NOTE : Fields marked with (*) are compulsory fields
                                    </div>
                                    <div class="col-sm-6 text-right">
                                        <b>[ Characters &lt; &gt; # ^ ; | $ are not allowed ]</b>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="pull-center">
                            <div class="row">
                                <div class="col-xl-5 col-lg-12 col-md-12 col-sm-12 offset-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                                    <label class="control-label">New Password</label><span class="mandatory"> *</span>
                                                    <input type="hidden" asp-for="UserID" id="hdnUserId" />
                                                    <input type="hidden" asp-for="UserEmailID" id="hdnUserEmailId" />
                                                    <input type="hidden" asp-for="Mobile" id="hdnMobile" />
                                                    <input asp-for="Password" onchange="CheckUserPasswordAvail()" id="txtPassword" class="form-control" maxlength="20" placeholder="Enter password here(min- 6 charcater, max - 20)." />
                                                    <span asp-validation-for="Password" class="text-danger"></span>

                                                    <label class="control-label"> Confirm Password</label><span class="mandatory"> *</span>

                                                    <input asp-for="Password" id="TxtConfirmPassword" onchange="CheckUserPasswordAvail()" class="form-control" maxlength="20" placeholder="Enter password here(min- 6 charcater, max - 20)." />
                                                </div>
                                            </div>
                                            <div class="row mt-2">
                                                <div class="col-md-12">
                                                    <div class="float-right">
                                                        <input type="button" value="Save" onclick="SavePassword();" class="btn btn-primary btn-orang pull-right" />
                                                    </div>
                                                </div>
                                            </div>

                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="ModalAlert" class="modal" role="dialog" style="z-index: 999999999;">
                    <div class="modal-dialog modal-sm">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title ModalAlert-title"></h4>
                                <button type="button" class="close" data-dismiss="modal" onclick="javascript:$('#ModalAlert').hide(500)">&times;</button>

                            </div>
                            <div class="modal-body ModalAlert-body" style="padding-bottom: 1px;">
                            </div>
                            <div style="height:35px;">
                                <button type="button" class="btn btn-danger pull-right" onclick="javascript:$('#ModalAlert').hide(500)" data-dismiss="modal" style="margin: -5px 10px;">OK</button>
                            </div>
                            @*<div class="modal-footer">
                                    <button type="button" class="btn btn-default pull-right" onclick="javascript:$('#ModalAlert').hide(500)" data-dismiss="modal">OK</button>
                                </div>*@
                        </div>
                    </div>
                </div>
                <script src="~/plugins/jquery/jquery.min.js"></script>
                <script type="text/javascript">
                function SavePassword() {
                    debugger;
                    if ($('#TxtConfirmPassword').val() != $('#txtPassword').val()) {
                        $.bootstrapGrowl("<i class='fa fa-check-circle' aria-hidden='true'></i>New Passwod does not matched with confirm password.", {
                            type: 'warning',
                            align: 'center',
                            width: 'auto',
                            allow_dismiss: true,
                            delay: 5000
                        });
                        $('#TxtConfirmPassword').val('');
                        $('#txtPassword').val('');
                        $('#txtPassword').focus();
                    }
                    else {
                        var optionsjson = {};
                        optionsjson["UserId"] = $('#hdnUserId').val();
                        optionsjson["UserEmailId"] = $('#hdnUserEmailId').val();
                        optionsjson["Mobile"] = $('#hdnMobile').val();
                        optionsjson["Password"] = $('#txtPassword').val();
                        $.ajax({
                            url: '@Url.Action("PasswordChangeForcely", "Login")',
                            type: "post",
                            contentType: "application/json; charset=utf-8",
                            data: JSON.stringify(optionsjson),
                            success: function (response) {
                                debugger;
                                if (response != null) {
                                    Show_ModalAlert_Popups(response, "Alert");
                                     setTimeout(function () {window.location.href = '@Url.Action("Login", "Login")'; },2000);

                                }

                            },
                            failure: function (response) {
                                alert(response);
                            }
                        });
                    }
            }


             function CheckUserPasswordAvail() {
        var masterData = {
            "Password": $('#txtPassword').val()
                };
                $.ajax({
                    url: '@Url.Content("~/")' + "MstUsers/IsAlreadySamePassword",
                    type: "POST",
                    data: masterData,
                    success: function (result) {
                        if (result == false) {
                            $.bootstrapGrowl("<i class='fa fa-exclamation-triangle' aria-hidden='true'></i> Password Already Exist ! Please try another.", {
                                type: 'warning',
                                align: 'center',
                                width: 'auto',
                                allow_dismiss: true,
                                delay: 10000
                            });
                            $('#txtPassword').val('');
                            $('#txtPassword').focus();
                        }
                    }
                })

    }
                </script>
            </form>
        </div>
    </div>
    </div>
