@using Microsoft.AspNetCore.Http;

@model SchoolProgramme.Models.MstUser


@{
    ViewData["Title"] = "Change Password";
    if (@Context.Session.GetString("UserTypeId") == "1")
    {
        Layout = "~/Views/Shared/_LayoutAdminLTEAdmin.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutAdminLTE.cshtml";
    }
}
<style>
    .btn-orang {
        color: #fff;
        background-color: #f39c12;
        border-color: #f39c12;
    }
</style>
<form>

    <section id="AboutSection" class="mt-4 mb-4" style="height:562px;">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="pull-left">
                    <h2 class="HHeadingCMSR text-center">Change Password</h2>
                </div>
            </div>
        </div>
        <div class="pull-center">
            <div class="row">
                <div class="col-xl-5 col-lg-12 col-md-12 col-sm-12 offset-4">
                    <div class="card">

                        <div class="card-body">
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <input type="password" id="Oldpassword" class="form-control mb-2 mt-2" placeholder="Enter old password" />
                                    <input type="password" id="password1" class="form-control mb-2 mt-2" placeholder="Enter new password" />
                                    <input type="password" id="password2" class="form-control mb-2 mt-2" placeholder="Enter confirm password" />
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-md-12">
                                    <div class="pull-right">
                                        @*class="btn btn-sm btn-primary btn-orang pull-right"*@
                                        <button class=" btn btn-sm btn-primary btn-orang" onclick="UpdatePassword()"><i class="fa fa-key fa-lg"></i> Update</button>
                                    </div>

                                </div>
                            </div>

                        </div>


                    </div>
                </div>
            </div>

        </div>
    </section>
</form>
<script>

    var userId = @ViewBag.userId;
    @*$('#userId').hide();
    var roleId = @ViewBag.roleId;
    (function($) {
        if (roleId == 1) {
            $('#userId').show();
            $('#userId').append("<option value="+users+">"+users+"</option>");
        }
    })

    function userChange() {
        userId = $('#userId').val();
    }*@

    function UpdatePassword() {

        var password = $('#password1').val();
        var password2 = $('#password2').val();
        var OldPassword = $('#Oldpassword').val();
        try {
            if (password != "") {
                if (password == password2) {
                    $.ajax({
                        url: '@Url.Content("~/")' + "Login/UpdatePassword",
                        type: "POST",
                        data: { userId: userId, password: password, OldPassword: OldPassword },
                        success: function (result) {
                            if (result == 1) {
                                $.bootstrapGrowl("<i class='fa fa-check-circle' aria-hidden='true'></i>Saved successfully.", {
                                    type: 'success',
                                    align: 'center',
                                    width: 'auto',
                                    allow_dismiss: true,
                                    delay: 5000
                                });
                                $('#password1').val('');
                                $('#password2').val('');
                            }
                            else if (result == 2) {
                                $.bootstrapGrowl("<i class='fa fa-check-circle' aria-hidden='true'></i>Old password is incorrect.", {
                                    type: 'warning',
                                    align: 'center',
                                    width: 'auto',
                                    allow_dismiss: true,
                                    delay: 5000
                                });
                                $('#password1').val('');
                                $('#password2').val('');
                            }
                            else {
                                $.bootstrapGrowl("<i class='fa fa-check-circle' aria-hidden='true'></i>Something went wrong.", {
                                    type: 'warning',
                                    align: 'center',
                                    width: 'auto',
                                    allow_dismiss: true,
                                    delay: 5000
                                });
                            }
                        }
                    }).fail(function (error) {
                        alert(error.statusText);
                    });

                } else {
                    $.bootstrapGrowl("<i class='fa fa-check-circle' aria-hidden='true'></i>Password don't match", {
                        type: 'warning',
                        align: 'center',
                        width: 'auto',
                        allow_dismiss: true,
                        delay: 5000
                    });
                }
            } else {
                $.bootstrapGrowl("<i class='fa fa-check-circle' aria-hidden='true'></i>Please enter a password", {
                    type: 'warning',
                    align: 'center',
                    width: 'auto',
                    allow_dismiss: true,
                    delay: 5000
                });
            }
        } catch (e) {
            $.bootstrapGrowl("<i class='fa fa-check-circle' aria-hidden='true'></i>"+e, {
                type: 'warning',
                align: 'center',
                width: 'auto',
                allow_dismiss: true,
                delay: 5000
            });
        }
    }
</script>
